*{
  margin: 0;
  padding: 0;
}
ul{
  padding: 15px 0px;
}
ul li{
  margin: 0px 10px;
}

.heroHeading{
  margin-top: 25px;
  padding: 20px;
}

.aboutHeader, .serviceSection, .footerSection{
  margin-top: 15px;
  background-color: bisque;
  padding: 20px;
  text-align: center;
}

.serviceSection{
  margin-bottom: 15px;
}

.project{
  padding: 10px 0px;
  margin-top: 25px;
  background-color: bisque;
  margin: 0 auto;
  text-align: center;
}